# Milvus
MILVUS_URI=http://localhost:19530
MILVUS_TOKEN=root:Milvus
MILVUS_DB=aic

# Elasticsearch
ES_URL=http://localhost:9200

# model-gateway
GATEWAY_URL=http://model-gateway:8001
DEEPINFRA_API_KEY=
DEEPINFRA_CHAT_MODEL_SLM=meta-llama/Meta-Llama-3.1-8B-Instruct
DEEPINFRA_CHAT_MODEL_SYNTHESIS=meta-llama/Meta-Llama-3.1-70B-Instruct
DEEPINFRA_EMBED_MODEL=BAAI/bge-large-en-v1.5
DEEPINFRA_RERANK_MODEL=BAAI/bge-reranker-large
